*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#i{
    font-size: 100px;
    color: green;
    filter: contrast(200%);
}

span {
    color: black;
    font-size: 30px;
    margin-left: 10px;
    transition: 0.5s;
}

span:hover{
    cursor: pointer;
    color: green;
}

.search-search-box{
    display: flex;
    align-items: center;
}

.search-box{
    color: black;
}

body{
    width: 100%;
}

.loc-icon{
    margin-top: 50px;
}

.choose{
    color: grey;
}

:is(.loc-icon,.signup-class, .form, .mess, .sub-btn, .search, .map){
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.map{
    margin-top: 30px;
    outline: 1px solid red;
    margin: 10px;
    height: auto;
}

:is(.text){
    display: block;
}

.form{
    margin-top: 5px;
    height: auto;
    padding: 10px;
}

.fields{
    padding: 10px;
    height: 100%;
    width: 500px;
}

:is(.form-field, .search-box){
    width: 100%;
    background-color: rgb(189, 187, 187);
}

:is(.form-field:focus, .search-box:focus){
    outline: 1px solid greenyellow;
}

:is(.user:hover, .submit:hover){
    cursor: pointer;
    transition: 0.5s;
}

:is(.field, .search-box){
    margin-top: 5px;
}

.form-label{
    color: rgb(124, 122, 122);
    text-transform: uppercase;
}

:is(.form-field, .submit, .search-box){
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.submit{
    width: 50%;
    background-color: greenyellow;
}

.submit:hover{
    background-color: green;
}