*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i{
    font-size: 100px;
    color: greenyellow;
    filter: contrast(200%);
}

body{
    width: 100%;
}

.loc-icon{
    margin-top: 50px;
}

.choose{
    color: grey;
}

:is(.loc-icon,.signup-class, .form, .mess, .sub-btn){
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

:is(.text){
    display: block;
}

.form{
    margin-top: 5px;
    height: auto;
    padding: 10px;
}

.fields{
    padding: 10px;
    height: 100%;
    width: 500px;
}

.form-field{
    width: 100%;
    background-color: rgb(189, 187, 187);
}

.form-field:focus{
    outline: 1px solid greenyellow;
}

:is(.user:hover, .submit:hover){
    cursor: pointer;
    transition: 0.5s;
}

.field{
    margin-top: 5px;
}

.form-label{
    color: rgb(124, 122, 122);
    text-transform: uppercase;
}

:is(.form-field, .submit){
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.submit{
    width: 50%;
    background-color: greenyellow;
}

.submit:hover{
    background-color: green;
}