*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
}

:is(.navbar){
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.navbar{
    background-color: black;
    color: white;
    padding: 10px;
}

.logo{
    font-size: 60px;
    font-weight: 700;
}

.container{
    position: relative;
    
}

.container img{
    width: 100%;
    filter: blur(1.2px) contrast(200%) brightness(50%);
}

.land-page{
    padding: 15px;
    position: absolute;
    bottom: 60px;
    right: 200px;
}

.welcome-text{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: white;
}
.get-btn{
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    width: fit-content;
    font-weight: bold;
    display: flex;
}