<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d65ecdd67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="loc-icon">
        <i class="fa-solid fa-right-to-bracket"></i>
    </div>
    <div class="signup-class">
        <div class="text">
            <h4 class="choose">Don't have account? <a href="{{ url_for('signup') }}">create one.</a></h4>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
    <div class="form">
        <form action="login", method="post">
            <div class="fields">
                <div class="field">
                    <label for="email" class="form-label">EMAIL</label>
                    <input type="email" name="email" id="email" class="form-field" placeholder="Enter your email" required>
                </div>
                <div class="field">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" name="password" id="password" class="form-field" placeholder="Enter your password">
                </div>
                <div class="sub-btn field">
                    {{ form.submit(class_ = "submit") }}
                </div>
            </div>
        </form>
    </div>
</body>
</html>