<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d65ecdd67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <title>Sign up</title>
</head>
<body>
    <div class="loc-icon">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="signup-class">
        <div class="text">
            <h1 class="signup">SIGN UP:</h1>
            <h4 class="choose">choose to continue</h4>
        </div>
    </div>
    <div class="mess">
        {% for res in form.name.errors %}
            <div class="message">
                {{ res }}
            </div>
        {% endfor %}
    </div>
    <div class="form">
        <form action="signup", method="post">
            <div class="fields">
                <div class="field">
                    {{ form.name.label(class_= "form-label") }}<br>
                    {{ form.name(class_= "form-field", placeholder_ = "Enter your name") }}
                </div>
                <div class="field">
                    {{ form.email.label(class_= "form-label") }}<br>
                    {{ form.email(class_= "form-field", placeholder_ = "Enter your email") }}
                </div>
                <div class="field">
                    {{ form.password.label(class_= "form-label") }}<br>
                    {{ form.password(class_= "form-field", placeholder_ = "Enter your password") }}
                </div>
                <div class="field">
                    {{ form.user.label(class_= "form-label") }}<br>
                    {{ form.user(class_= "form-field user") }}
                </div>
                <div class="sub-btn field">
                    {{ form.submit(class_ = "submit") }}
                </div>
            </div>
        </form>
    </div>
</body>
</html>